*.exe
/SpaceAlertResolver/packages
/SpaceAlertResolver/ConsoleResolverTest/bin
/SpaceAlertResolver/ConsoleResolverTest/obj
/SpaceAlertResolver/.vs/config/applicationhost.config
*.dll
*.pdb
/SpaceAlertResolver/PL/bin
/SpaceAlertResolver/PL/obj
