*.exe
/SpaceAlertResolver/packages
/SpaceAlertResolver/ConsoleResolverTest/bin
/SpaceAlertResolver/ConsoleResolverTest/obj
/SpaceAlertResolver/.vs
*.dll
*.pdb
/SpaceAlertResolver/PL/bin
/SpaceAlertResolver/PL/obj
.git
.idea
.terraform/
.terraform.lock.hcl
.terraform.plan
node_modules/
build/
dist/
/SpaceAlertResolver/UI/.yarn/*
!/SpaceAlertResolver/UI/.yarn/patches
!/SpaceAlertResolver/UI/.yarn/plugins
!/SpaceAlertResolver/UI/.yarn/releases
!/SpaceAlertResolver/UI/.yarn/sdks
!/SpaceAlertResolver/UI/.yarn/versions
!/SpaceAlertResolver/UI/.yarn/cache
!/SpaceAlertResolver/UI/.yarn/unplugged
/SpaceAlertResolver/UI//node_modules/
/SpaceAlertResolver/UI/storybook-static/
