.root {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.top-board {
	width: 100%;
	height: auto;
}

.bottom-board {
	width: 70%;
	height: auto;
}

.missing-color {
	filter: grayscale(100%);
}

.board-wrapper {
	position: relative;
}

.cards-wrapper-1 {
	width: 36%;
	left: 4.3%;
	column-gap: 10%;
}

.cards-wrapper-4 {
	left: 46%;
	width: 49.3%;
	column-gap: 7%;
}

.cards-wrapper-7 {
	width: 61.8%;
	left: 4.2%;
	column-gap: 6%;
}
