<div class="players players-upper-{{zoneId}} station-area">
	<div ng-repeat="player in zone.upperStation.players" class="player" ng-class="{'player-with-battlebots': player.battleBots}">
		<img class="player-icon" ng-src="/SpaceAlertResolver/Content/Images/Players/Male{{player.playerColor}}.png"/>
		<img class="active-battle-bots" ng-if="player.battleBots" src="/SpaceAlertResolver/Content/Images/BattleBots.png"/>
	</div>
</div>
<div class="threats-on-ship threats-upper-{{zoneId}} station-area" id="upper{{zoneId}}Threats">
	<img class="threat-on-ship" ng-repeat="threat in zone.upperStation.internalThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{threat.description}}.png"/>
</div>
<div class="energy-cubes energy-cubes-upper-{{zoneId}} energy-cubes-max-{{zone.upperStation.maxEnergyCubes}} station-area">
	<img class="energy-cube" ng-repeat="cube in zone.upperStation.energyCubes" src="/SpaceAlertResolver/Content/Images/GreenCube.png"/>
</div>
<div class="energy-in-cannon-container energy-in-upper-{{zoneId}}-cannon station-area">
	<img ng-if="zone.upperStation.cannon.energy" class="energy-cube" ng-src="/SpaceAlertResolver/Content/Images/{{zone.upperStation.cannon.energy === 'Battery' ? 'orange' : 'green'}}Cube.png "/>
</div>
<div class="players players-lower-{{zoneId}} station-area">
	<div ng-repeat="player in zone.lowerStation.players" class="player" ng-class="{'player-with-battlebots': player.battleBots}">
		<img class="player-icon" ng-src="/SpaceAlertResolver/Content/Images/Players/Male{{player.playerColor}}.png"/>
		<img class="active-battle-bots" ng-if="player.battleBots" src="/SpaceAlertResolver/Content/Images/BattleBots.png"/>
	</div>
</div>
<div class="threats-on-ship threats-lower-{{zoneId}} station-area" id="lower{{zoneId}}Threats">
	<img class="threat-on-ship" ng-repeat="threat in zone.lowerStation.internalThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{threat.description}}.png" />
</div>
<div class="energy-cubes energy-cubes-lower-{{zoneId}} energy-cubes-max-{{zone.lowerStation.maxEnergyCubes}} station-area">
	<img class="energy-cube" ng-repeat="cube in  zone.lowerStation.energyCubes" src="/SpaceAlertResolver/Content/Images/GreenCube.png"/>
</div>
<div class="energy-in-cannon-container energy-in-lower-{{zoneId}}-cannon station-area">
	<img ng-if="zone.lowerStation.cannon.energy" class="energy-cube" ng-src="/SpaceAlertResolver/Content/Images/{{zone.lowerStation.cannon.energy === 'Battery' ? 'orange' : 'green'}}Cube.png " />
</div>
