<div class="modal-header">
	<h3 class="modal-title" id="modal-title">actions</h3>
</div>
<div class="modal-body" id="modal-body">
	<div>
		<h3>Selected Actions</h3>
		<div class="selected-actions-wrapper">
			<img class="board-1" ng-src="~/Content/Images/Boards/{{playerColor}}1.png" />
			<img class="board-2" ng-src="~/Content/Images/Boards/{{playerColor}}2.png" />
			<a href="#" ng-repeat="selectedAction in selectedActions" class="selected-action-wrapper selected-action-wrapper-{{$index}}" ng-class="{'cursor': $parent.cursor === $index}" ng-click="moveCursor($index)">
				<img ng-if="selectedAction.image != null" class="action-selected-image" ng-src="~/Content/Images/Actions/{{selectedAction.image}}.png" />
				<i ng-if="selectedAction.image == null" class="fa fa-ban action-selected-image-icon"></i>
			</a>
		</div>
	</div>
	@*<div>
		Action string: <input ng-model="selectedActionsText" ng-model-options="{ getterSetter: true }"/>
	</div>*@
	<div class="action-choosable-wrapper" ng-repeat="action in allActions">
		<a href="#" ng-click="addAction(action)">
			<img ng-if="action.image != null" class="action-choosable-image" ng-src="~/Content/Images/Actions/{{action.image}}.png"/>
			<i ng-if="action.image == null" class="fa fa-ban action-choosable-image-icon"></i>
		</a>
		<p class="action-choosable-key">{{action.text}}</p>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
