.action-choosable-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px;
    width: 119px;
    text-align: center;
}

.action-choosable-image {
    width: 110px;
    height: auto;
}

.fa.action-choosable-image-icon {
    font-size: 6.7em;
    color: black;
}

.action-choosable-key {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.selected-player-board {
    padding-bottom: 15px;
}