.game-sidebar {
	display: inline-block;
	width: 250px;
	max-width: 250px;
	vertical-align: top;
}

.automated-run-through {
	margin: 20px 0;
}

.phase-selector {
	height: 275px;
}

.turn-selector-option {
	width:42px;
	max-width:42px;
	text-align: center;
}

.phase-selector-option {
	width:167px;
	max-width:167px;
	text-align: center;
}

.fast-speed-label {
	float: right;
}

.speed-selection-container {
	width: 200px;
}

.speed-selector {
	width: 200px;
}

.interceptors-in-space {
	width: 100px;
	height: auto;
}

.interceptors-zone {
	position: relative;
    display: inline-block;
    width: 107px;
    height: 346px;
}

.interceptors-station {
	border-bottom: 2px red dashed;
	border-left: 2px red dashed;
	border-right: 2px red dashed;
	width: 107px;
	padding-top: 30%;
}

.interceptors-station-1, .interceptors-station-2 {
	height: 108px;
}

.interceptors-station-3 {
	height: 135px;
	border-top: 2px red dashed;
}

.interceptors-in-space-placeholder {
	opacity: .3;
}
