.game-sidebar {
    display: inline-block;
    width: 250px;
    max-width: 250px;
    vertical-align: top;
}

.automated-run-through {
    margin-top: 20px;
}

.fast-collapse .collapsing {
    transition: none;
}

.phase-selector {
    width:215px;
    max-width:215px;
}

.turn-selector-option {
    width:42px;
    max-width:42px;
    text-align: center;
}

.fast-speed-label {
    float: right;
}

.speed-selection-container {
    width: 200px;
	display: inline-block;
	padding-top: 200px;
}

.speed-selector {
    width: 200px;
}

.interceptors-in-space {
    width: 85px;
    height: auto;
	margin-left: 10px;
}

.interceptors-zone {
    position: relative;
    display: inline-block;
    width: 107px;
    height: 276px;
}

.interceptors-station {
    border-bottom: 2px red dashed;
    border-left: 2px red dashed;
    border-right: 2px red dashed;
    width: 107px;
    padding-top: 20%;
}

.interceptors-station-1, .interceptors-station-2 {
    height: 92px;
}

.interceptors-station-3 {
    height: 92px;
    border-top: 2px red dashed;
}

.interceptors-in-space-placeholder {
    opacity: .3;
}

.killed-by {
    text-align: left;
}

.player-boards {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

.player-board {
    display: inline-block;
}

.turn {
	color: orange;
}

.phase {
	color: blue;
}

.sub-phase {
	color: darkviolet;
}
