body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.dl-horizontal dt {
	white-space: normal;
}

input,
select,
textarea {
	max-width: 280px;
}





/*.input-nav {
	margin-top: 15px;
	margin-bottom: 15px;
}

.input-nav-content {
	height: 600px;
	max-height: 600px;
}*/



.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.modal-lg {
	width: 900px;
}

.selected-actions-wrapper {
	position: relative;
	cursor: pointer;
}

.selected-action-wrapper {
	position: absolute;
    height: 111px;
	width: 60px;
    padding-top: 20px;
	cursor: pointer;
}

.action-choosable-wrapper {
	cursor: pointer;
}

.selected-action-wrapper.cursor {
	border: 2px yellow solid;
}

.selected-action-wrapper-0 {
	top: 30px;
	left: 35px;
}

.selected-action-wrapper-1 {
	top: 30px;
	left: 126px;
}

.selected-action-wrapper-2 {
	top: 30px;
	left: 219px;
}

.selected-action-wrapper-3 {
	top: 30px;
	left: 326px;
}

.selected-action-wrapper-4 {
	top: 30px;
	left: 418px;
}

.selected-action-wrapper-5 {
	top: 30px;
	left: 512px;
}

.selected-action-wrapper-6 {
	top: 30px;
	left: 604px;
}

.selected-action-wrapper-7 {
	top: 214px;
	left: 35px;
}

.selected-action-wrapper-8 {
	top: 214px;
	left: 126px;
}

.selected-action-wrapper-9 {
	top: 214px;
	left: 219px;
}

.selected-action-wrapper-10 {
	top: 214px;
	left: 314px;
}

.selected-action-wrapper-11 {
	top: 214px;
	left: 407px;
}

.action-selected-image {
	width: 60px;
	height: auto;
}

.fa.action-selected-image-icon {
	font-size: 5em;
	color: white;
}

.selectable-track-option-wrapper.selected-track-option-wrapper {
	border: 4px solid blue;
	margin: 0 1px;
}

.selectable-track-option-wrapper.track-option-wrapper-in-use {
	border: 4px dashed red;
	margin: 0 1px;
}

.selectable-track-option-wrapper div {
	z-index: 0;
}

.selectable-track-option-wrapper {
	display: inline-block;
	margin: 0 5px;
	padding: 0 5px;
	text-align: center;
}

.selectable-track-option {
	display: block;
	cursor: pointer;
}

 .selected-track-wrapper {
	display: inline-block;
	vertical-align: bottom;
 }

 .track-spaces-wrapper-clickable {
	cursor: pointer;
 }

 .selectable-threat {
	display: inline-block;
	width: 166px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 12px;
	text-align: center;
	cursor: pointer;
 }

 .selected-threats {
	min-height: 160px;
 }

 .selected-threat-to-add .threat-wrapper {
	border: 3px yellow solid;
 }

 .game-args-text {
	display: none;
 }

 .remove-threat-action {
	display: inline-block;
	font-size: 1.3em;
	color: blue;
	text-align: center;
	cursor: pointer;
 }

 .threat-name {
	 font-family: Consolas;
	 font-size: .8em;
 }
