body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sitting-duck {
	
	width: 700px;
	height: auto;
	display: inline-block;
}

.turn-selector {
	display: inline-block;
}

.track {
	width: auto;
	height: 400px;
}

.external-track-wrapper {
	display: inline-block;
	width: 233px;
	vertical-align: bottom;
	padding-top: 10px;
}

.internal-track-outer-wrapper {
	display: inline-block;
	width: 233px;
	vertical-align: bottom;
}

.threat-list {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	overflow: auto;
	height: 400px;
	width: auto;
}

.threat {
	width: 130px;
	height: auto;
	display: block;
	padding-bottom: 5px;
}

.track-space {
	width: 20px;
	height: 20px;
	background-color: blue;
	border: 1px solid violet;
	position: absolute;
	display: block;
}