.sitting-duck {
    width: 715px;
    height: auto;
    display: inline-block;
    z-index: -1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sitting-duck-wrapper {
    position: relative;
    display: inline-block;
    z-index: -1000;
}

.full-board {
    display: inline-block;
}