.selectable-threat {
    display: inline-block;
    width: 136px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
 }

 .selected-threat-to-add .threat-wrapper {
    border: 3px yellow solid;
 }

  .threat-name {
     font-family: Consolas;
     font-size: .8em;
 }
