.threat {
    width: 72px;
    height: 65px;
    position: relative;
    vertical-align: top;
}

.threat-image-wrapper {
    position: relative;
    display: inline;
}

.threat-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    font-weight: 700;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 71px;
    text-shadow: 2px 2px 0px #FF0000;
    font-size: 15px;
    padding-top: 6px;
    text-align: center;
}

.threat-wrapper {
    display: block;
    border: 3px solid red;
    margin-bottom: 5px;
}

.threat-wrapper.phased-threat-wrapper {
    border: 3px red dashed;
    opacity: .5;
}

.threat-info {
    padding-right: 2px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
}

.threat-info-col-1, .threat-info-col-2, .threat-info-col-3 {
    display: inline-block;
    vertical-align: top;
}

.threat-health-wrapper,
.threat-shield-wrapper,
.threat-speed-wrapper,
.threat-total-inaccessibility-wrapper,
.threat-time-appears-wrapper,
.threat-buff-count-wrapper,
.threat-debuff-count-wrapper
{
    position: relative;
    margin-bottom: 2px;
}

.threat-health-text, .threat-shield-text, .threat-speed-text, .threat-total-inaccessibility-text, .threat-time-appears-text, .threat-buff-count-text, .threat-debuff-count-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.threat-health-text, .threat-shield-text, .threat-speed-text, .threat-total-inaccessibility-text, .threat-debuff-count-text {
    color: white;
    font-size: 1.3em;
}

.threat-buff-count-text {
    color: black;
    font-size: 1.3em;
}

.threat-time-appears-text {
    color: yellow;
    font-size: 1.0em;
    padding-top: 4px;
}

.threat-speed-text {
    color: black;
    padding-top: 4px;
    font-size: 1.3em;
}

.threat-health, .threat-speed, .threat-total-inaccessibility, .threat-shield, .threat-time-appears, .threat-buff-count, .threat-debuff-count {
    width: 24px;
    height: auto;
}

 .remove-threat-action {
    display: inline-block;
    font-size: 2.3em;
    color: blue;
    text-align: center;
    cursor: pointer;
    padding-top: 25%;
 }
