.track-with-threats-wrapper {
    display: inline-block;
    width: 233px;
    vertical-align: bottom;
}

.threat-list {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    overflow: hidden;
    height: 284px;
    width: auto;
}

.threat-on-track-line-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.threat-on-track-line {
    z-index: 0;
}

.threat-on-ship-line-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.threat-on-ship-line {
    z-index: 0;
    display: none;
}

.threats-on-ship {
    position: absolute;
    width: 100px;
    height: 25px;
    overflow: hidden;
}

.threat-on-ship {
    width: 25px;
    height: 23px;
    padding-right: 1px;
    border: 1px solid red;
}

.add-new-threat {
    width: 166px;
    text-align: center;
    cursor: pointer;
    border: 3px solid red;
}

.fa.add-new-threat-icon {
    font-size: 5em;
}

.track-spaces-wrapper-clickable {
    cursor: pointer;
 }