.track-wrapper {
    display: inline-block;
    width: 63px;
    vertical-align: bottom;
    padding-top: 10px;
}

.track-spaces-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.track-outline {
    position: relative;
    border-bottom: 275px solid black;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 53px;
    display: table;
    z-index: -3;
}

.track-sections {
    position: absolute;
    bottom: 0;
    display: table-cell;
    z-index: -2;
}

.track-section {
    vertical-align: bottom;
    margin-bottom: 8px;
}

.track-space {
    height: 13px;
    width: 31px;
    border: 1px solid #FBDA66;
    margin-left: 11px;
    margin-bottom: 2px;
    z-index: -2;
}

.track-breakpoint.track-space {
    text-align: center;
}

.track-section-1 > .track-breakpoint-x.track-space, .track-section-2 > .track-breakpoint-x.track-space, .track-section-3 > .track-breakpoint-x.track-space {
    background: yellow;
}

.track-section-1 > .track-breakpoint-y.track-space, .track-section-2 > .track-breakpoint-y.track-space, .track-section-3 > .track-breakpoint-y.track-space {
    background: orange;
}

.track-section-1 > .track-breakpoint-z.track-space, .track-section-2 > .track-breakpoint-z.track-space, .track-section-3 > .track-breakpoint-z.track-space {
    background: red;
}

.track-space.threat-present {
    border: 3px solid red;
    line-height: .9em;
}

.track-breakpoint-text {
    font-weight: 900;
    font-family: Arial;
    font-size: 10px;
    margin-top: -10px;
    vertical-align: top;
}

.track-section-1 > .track-space{
    background: linear-gradient(#522B1F, #322817);
}

.track-section-2 > .track-space{
    background: linear-gradient(#7B3F34, #41260C);
}

.track-section-3 > .track-space{
    background: linear-gradient(#EC6815, #8A5414);
}
