<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{playerTitle}}'s Actions</h3>
</div>
<div class="modal-body" id="modal-body">
	<div>
		<h3>Selected Actions</h3>
		<player-board player-color="playerColor" selected-actions="selectedActions" cursor="cursor"></player-board>
	</div>
	<div class="action-choosable-wrapper" ng-repeat="action in allSingleActions">
		<div ng-click="addActionAtCursor(action)" class="action-choosable-wrapper">
			<img ng-if="action.description != null" class="action-choosable-image" ng-src="~/Content/Images/Actions/{{action.description}}.png"/>
			<i ng-if="action.description == null" class="fa fa-ban action-choosable-image-icon"></i>
		</div>
		<p class="action-choosable-key">{{action.hotkey}}</p>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

<script type="text/ng-template" id="templates/playerBoard">
	@Html.Action("PlayerBoard", "Templates")
</script>
