<div class="selected-actions-wrapper">
	<img class="board-1" ng-src="~/Content/Images/Boards/{{playerColor}}1.png" />
	<img class="board-2" ng-src="~/Content/Images/Boards/{{playerColor}}2.png" />
	<div ng-repeat="selectedAction in selectedActions" class="selected-action-wrapper selected-action-wrapper-{{$index}}" ng-class="{'cursor': $parent.cursor.index === $index, 'configurable-action': $parent.cursor}" ng-click="moveCursor($index)">
		<img ng-if="selectedAction.description != null" class="action-selected-image" ng-src="~/Content/Images/Actions/{{selectedAction.description}}.png" />
	</div>
</div>
