<div class="threat-wrapper">
	<img id="threat{{trackId}}{{threatIndex}}" class="threat-on-track" ng-src="~/Content/Images/Threats/{{threat.description}}.png"/>
	<div class="threat-info">
		<div class="threat-info-row">
			<div class="threat-info-col-1">
				<div class="threat-time-appears-wrapper">
					<img class="threat-time-appears" src="~/content/Images/threatTimeAppears.png"/>
					<div class="threat-time-appears-text">{{threat.timeAppears || '?'}}</div>
				</div>
				<div class="threat-speed-wrapper">
					<img class="threat-speed" src="~/Content/Images/threatSpeed.png"/>
					<div class="threat-speed-text">{{threat.speed}}</div>
				</div>
			</div>
			<div class="threat-info-col-2">
				<div class="threat-health-wrapper">
					<img class="threat-health" src="~/Content/Images/redCube.png"/>
					<div class="threat-health-text">{{threat.remainingHealth}}</div>
				</div>
				<div ng-if="threat.shields" class="threat-shield-wrapper">
					<img class="threat-shield" src="~/Content/Images/greenCube.png"/>
					<div class="threat-shield-text">{{threat.shields}}</div>
				</div>
				<div ng-if="threat.totalInaccessibility" class="threat-total-inaccessibility-wrapper">
					<img class="threat-total-inaccessibility" src="~/Content/Images/greenCube.png"/>
					<div class="threat-total-inaccessibility-text">{{threat.totalInaccessibility}}</div>
				</div>
			</div>
		</div>
		<div class="threat-info-row">
			<div ng-if="removable" class="remove-threat-action" ng-click="removeThreat()">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
	</div>
</div>
