<div ng-class="{'track-wrapper': threats == null, 'track-with-threats-wrapper': threats != null}">
	<div class="track-spaces-wrapper" ng-click="onTrackClicked()" ng-class="{'track-spaces-wrapper-clickable': onTrackClicked != null}">
		<div class="track-outline"></div>
		<div class="track-sections">
			<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in track.sections">
				<div id="space{{trackId}}{{trackSpace.space}}"
					ng-repeat="trackSpace in section.trackSpaces"
					class="track-space track-space-{{trackSpace.space}}"
					ng-class="{'threat-present': trackSpace.hasAnyThreats, 'track-breakpoint': trackSpace.breakpoint != null }">
					<span class="track-breakpoint-text" ng-if="trackSpace.breakpoint != null">{{trackSpace.breakpoint}}</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="threats.length > 0" class="threat-list">
		<div ng-repeat="threat in threats" class="threat-with-lines">
			<threat threat-index="$index" threat="threat" track-id="trackId"></threat>
			<svg ng-if="threat.position > 0" class="threat-on-track-line-wrapper">
				<line class="threat-on-track-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getTrackSpaceCornerX(threat)}}"
					ng-attr-y2="{{getTrackSpaceCornerY(threat)}}"/>
			</svg>
			<svg ng-if="threat.currentStations" ng-repeat="station in threat.currentStations" class="threat-on-ship-line-wrapper">
				<line class="threat-on-ship-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getStationCornerX(threat, station)}}"
					ng-attr-y2="{{getStationCornerY(threat, station)}}"/>
			</svg>
		</div>
	</div>
</div>

<script type="text/ng-template" id="templates/threat">
	@Html.Action("Threat", "Templates")
</script>
