<div ng-class="{'track-wrapper': threats == null, 'track-with-threats-wrapper': threats != null}">
	<div class="track-spaces-wrapper">
		<div class="track-outline"></div>
		<div class="track-sections">
			<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in track.sections">
				<div id="space{{trackId}}{{trackSpace.space}}"
					ng-repeat="trackSpace in section.trackSpaces"
					class="track-space track-space-{{trackSpace.space}}"
					ng-class="{'threat-present': trackSpace.hasAnyThreats, 'track-breakpoint': trackSpace.breakpoint != null }">
					<span class="track-breakpoint-text" ng-if="trackSpace.breakpoint != null">{{trackSpace.breakpoint}}</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="threats.length > 0" class="threat-list">
		<div class="threat-wrapper" ng-repeat="threat in threats">
			<img id="threat{{trackId}}{{$index}}" class="threat-on-track" ng-src="~/Content/Images/Threats/{{threat.description}}.png"/>
			<div class="threat-info">
				<div class="threat-info-col-1">
					<div class="threat-time-appears-wrapper">
						<img class="threat-time-appears" src="~/content/Images/threatTimeAppears.png"/>
						<div class="threat-time-appears-text">{{threat.timeAppears}}</div>
					</div>
					<div class="threat-speed-wrapper">
						<img class="threat-speed" src="~/Content/Images/threatSpeed.png"/>
						<div class="threat-speed-text">{{threat.speed}}</div>
					</div>
				</div>
				<div class="threat-info-col-2">
					<div class="threat-health-wrapper">
						<img class="threat-health" src="~/Content/Images/redCube.png" />
						<div class="threat-health-text">{{threat.remainingHealth}}</div>
					</div>
					<div ng-if="threat.shields" class="threat-shield-wrapper">
						<img class="threat-shield" src="~/Content/Images/greenCube.png" />
						<div class="threat-shield-text">{{threat.shields}}</div>
					</div>
					<div ng-if="threat.totalInaccessibility" class="threat-total-inaccessibility-wrapper">
						<img class="threat-total-inaccessibility" src="~/Content/Images/greenCube.png" />
						<div class="threat-total-inaccessibility-text">{{threat.totalInaccessibility}}</div>
					</div>
				</div>
			</div>
			<svg class="threat-on-track-line-wrapper">
				<line class="threat-on-track-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getTrackSpaceCornerX(threat)}}"
					ng-attr-y2="{{getTrackSpaceCornerY(threat)}}"/>
			</svg>
			<svg ng-if="threat.currentStations" ng-repeat="station in threat.currentStations" class="threat-on-ship-line-wrapper">
				<line class="threat-on-ship-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getStationCornerX(threat, station)}}"
					ng-attr-y2="{{getStationCornerY(threat, station)}}" />
			</svg>
		</div>
	</div>
</div>
