<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{zone}} Threats</h3>
</div>
<div class="modal-body" id="modal-body">
	<h3>Current Threats</h3>
	<div class="selected-threats">
		<div ng-repeat="threat in selectedThreats">
			{{threat.description}}
			{{threat.timeAppears}}
		</div>
		@* TODO: Threat with remove button *@
	</div>
	<h3>Add Threat</h3>
	<div class="btn-toolbar">
		<div class="btn-group">
			<label class="btn btn-default" ng-model="threatsGroupedByType" uib-btn-radio="allThreats.whiteThreats">White</label>
			<label class="btn btn-default" ng-model="threatsGroupedByType" uib-btn-radio="allThreats.yellowThreats">Yellow</label>
			<label class="btn btn-default" ng-model="threatsGroupedByType" uib-btn-radio="allThreats.redThreats">Red</label>
		</div>
		<div class="btn-group">
			<label class="btn btn-default" ng-model="threats" uib-btn-radio="threatsGroupedByType.seriousExternalThreats">Serious External</label>
			<label class="btn btn-default" ng-model="threats" uib-btn-radio="threatsGroupedByType.seriousInternalThreats">Serious Internal</label>
			<label class="btn btn-default" ng-model="threats" uib-btn-radio="threatsGroupedByType.minorExternalThreats">Minor External</label>
			<label class="btn btn-default" ng-model="threats" uib-btn-radio="threatsGroupedByType.minorInternalThreats">Minor Internal</label>
		</div>
	</div>
	<div ng-repeat="threat in threats" class="selectable-threat" ng-class="{'selected-threat-to-add': threat.id === selectedThreatToAdd.id}">
		<threat threat-index="$index" threat="threat" track-id="zone" ng-click="selectThreatToAdd(threat)"></threat>
		{{threat.id}}
	</div>
	<select class="form-control" ng-disabled="selectedThreatToAdd == null" ng-model="selectedTimeOfThreatToAdd">
		<option value="">Time Appears</option>
		<option ng-repeat="time in allTimes">{{time}}</option>
	</select>
	<button type="button" class="btn btn-primary" ng-disabled="selectedTimeOfThreatToAdd == null" ng-click="addThreat()">Add Threat</button>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
<script type="text/ng-template" id="templates/threat">
	@Html.Action("Threat", "Templates")
</script>
