<div class="track-with-threats-wrapper">
	<track-spaces ng-class="{'track-spaces-wrapper-clickable': trackIsConfigurable}" ng-click="configureTrack()" track="track" track-id="trackId"></track-spaces>
	<div ng-if="showThreats()" class="threat-list">
		<div ng-repeat="threat in threats" class="threat-with-lines">
			<threat threat-index="$index" threat="threat" track-id="trackId"></threat>
			<svg ng-if="threat.position > 0" class="threat-on-track-line-wrapper">
				<line class="threat-on-track-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getTrackSpaceCornerX(threat)}}"
					ng-attr-y2="{{getTrackSpaceCornerY(threat)}}"/>
			</svg>
			<svg ng-if="threat.currentStations" ng-repeat="station in threat.currentStations" class="threat-on-ship-line-wrapper">
				<line class="threat-on-ship-line" stroke-width="3" stroke="red"
					ng-attr-x1="{{getThreatCornerX($index)}}"
					ng-attr-y1="{{getThreatCornerY($index)}}"
					ng-attr-x2="{{getStationCornerX(threat, station)}}"
					ng-attr-y2="{{getStationCornerY(threat, station)}}"/>
			</svg>
		</div>
		<a ng-if="canAddNewThreat()" ng-click="addNewThreat()" class="btn btn-default add-new-threat" href="#">
			<i class="fa fa-plus add-new-threat-icon"></i>
		</a>
	</div>
</div>

<script type="text/ng-template" id="templates/threat">
	@Html.Action("Threat", "Templates")
</script>

<script type="text/ng-template" id="templates/track">
	@Html.Action("TrackSpaces", "Templates")
</script>
