<div class="modal-header">
    <h3 class="modal-title" id="modal-title">>{{zone }} Track</h3>
</div>
<div class="modal-body" id="modal-body">
    <div>
        <div ng-repeat="track in allTracks" href="#"  class="selectable-track-option-wrapper" ng-class="{'selected-track-option-wrapper': track.track === selectedTrack.track, 'track-option-wrapper-in-use': trackIsInUse(track)}">
            <track track="track" ng-click="selectTrack(track)" track-id="track.track" class="selectable-track-option"></track>
            {{track.displayName}}
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

<script type="text/ng-template" id="templates/track">
    @await Html.PartialAsync("~/Views/Templates/Track.cshtml")
</script>
