

@model IHtmlString
<script>
    angular.module("spaceAlertModule", []).value("gameData", @Html.Raw(Model));
</script>
@Scripts.Render("~/bundles/app")
<div ng-app="spaceAlertModule">
	<div ng-controller="ResolutionController">
		<div class="turn-selectors">
			<h4>Turn:</h4>
			<nav class="turn-selector">
				<ul class="pagination">
					<li ng-repeat="snapshotGroup in gameData" ng-class="{'active': currentTurn === snapshotGroup[0].turn}">
						<a href="#" class="turn-selector-option" ng-click="selectTurn(snapshotGroup[0].turn)">{{snapshotGroup[0].turn + 1}}</a>
					</li>
				</ul>
			</nav>
			<h4>Phase:</h4>
			<nav class="turn-selector">
				<ul class="pagination">
					<li ng-repeat="phaseGroup in gameData[currentTurn]" ng-class="{'active': currentPhase === phaseGroup.phase}">
						<a href="#" class="phase-selector-option" ng-click="selectPhase(phaseGroup.phase)">{{phaseGroup.description}}</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="full-board">
			<div class="external-tracks-wrapper">
				<threat-track track="gameData[currentTurn][currentPhase].redTrack" threats="gameData[currentTurn][currentPhase].redThreats" track-id="'red'"></threat-track>
				<threat-track track="gameData[currentTurn][currentPhase].whiteTrack" threats="gameData[currentTurn][currentPhase].whiteThreats" track-id="'white'"></threat-track>
				<threat-track track="gameData[currentTurn][currentPhase].blueTrack" threats="gameData[currentTurn][currentPhase].blueThreats" track-id="'blue'"></threat-track>
			</div>
			<img class="sitting-duck" src="/SpaceAlertResolver/Content/Images/board-front.jpg"/>
			<threat-track track="gameData[currentTurn][currentPhase].internalTrack" threats="gameData[currentTurn][currentPhase].internalThreats" track-id="'internal'"></threat-track>
		</div>
	</div>
</div>
