

@model IHtmlString
<script>
    angular.module("spaceAlertModule", []).value("gameData", @Html.Raw(Model));
</script>
@Scripts.Render("~/bundles/app")
<div ng-app="spaceAlertModule">
	<div ng-controller="ResolutionController">
		<div class="external-tracks-wrapper">
			<div class="track-wrapper external-track-wrapper">
				<img class="track red-track" src="/SpaceAlertResolver/Content/Images/Tracks/{{gameData[currentTurn][currentPhase].redTrack.trackConfiguration}}.png"/>
				<div class="threat-list">
					<img class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].redThreats" src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png"/>
				</div>
			</div>
			<div class="track-wrapper external-track-wrapper">
				<img class="track white-track" src="/SpaceAlertResolver/Content/Images/Tracks/{{gameData[currentTurn][currentPhase].whiteTrack.trackConfiguration}}.png"/>
				<div class="threat-list">
					<img class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].whiteThreats" src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png" />
				</div>
			</div>
			<div class="track-wrapper external-track-wrapper">
				<img class="track blue-track" src="/SpaceAlertResolver/Content/Images/Tracks/{{gameData[currentTurn][currentPhase].blueTrack.trackConfiguration}}.png"/>
				<div class="threat-list">
					<img class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].blueThreats" src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png" />
				</div>
			</div>
		</div>
		<img class="sitting-duck" src="/SpaceAlertResolver/Content/Images/board-front.jpg"/>
		<div class="internal-track-outer-wrapper">
			<div class="internal-track-inner-wrapper">
				<img class="track internal-track" src="/SpaceAlertResolver/Content/Images/Tracks/{{gameData[currentTurn][currentPhase].internalTrack.trackConfiguration}}.png"/>
				<div class="threat-list">
					<img class="threat internal-threat" ng-repeat="internalThreat in gameData[currentTurn][currentPhase].internalThreats" src="/SpaceAlertResolver/Content/Images/Threats/{{internalThreat.description}}.png" />
				</div>
			</div>
		</div>
		<h4>Turn:</h4>
		<nav class="turn-selector">
			<ul class="pagination">
				<li ng-repeat="snapshotGroup in gameData" ng-class="{'active': currentTurn === snapshotGroup[0].turn}">
					<a href="#" ng-click="selectTurn(snapshotGroup[0].turn)">{{snapshotGroup[0].turn + 1}}</a>
				</li>
			</ul>
		</nav>
		<h4>Phase:</h4>
		<nav class="turn-selector">
			<ul class="pagination">
				<li ng-repeat="phaseGroup in gameData[currentTurn]" ng-class="{'active': currentPhase === phaseGroup.phase}">
					<a href="#" ng-click="selectPhase(phaseGroup.phase)">{{phaseGroup.description}}</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
