

@model IHtmlString
<script>
    angular.module("spaceAlertModule", []).value("gameData", @Html.Raw(Model));
</script>
@Scripts.Render("~/bundles/app")
<div ng-app="spaceAlertModule">
	<div ng-controller="ResolutionController">
		<div class="turn-selectors">
			<h4>Turn:</h4>
			<nav class="turn-selector">
				<ul class="pagination">
					<li ng-repeat="snapshotGroup in gameData" ng-class="{'active': currentTurn === snapshotGroup[0].turn}">
						<a href="#" class="turn-selector-option" ng-click="selectTurn(snapshotGroup[0].turn)">{{snapshotGroup[0].turn + 1}}</a>
					</li>
				</ul>
			</nav>
			<h4>Phase:</h4>
			<nav class="turn-selector">
				<ul class="pagination">
					<li ng-repeat="phaseGroup in gameData[currentTurn]" ng-class="{'active': currentPhase === phaseGroup.phase}">
						<a href="#" class="phase-selector-option" ng-click="selectPhase(phaseGroup.phase)">{{phaseGroup.description}}</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="full-board">
			<div class="external-tracks-wrapper">
				<div class="track-wrapper external-track-wrapper">
					<div class="track-spaces-wrapper">
						<div class="track-outline"></div>
						<div class="track-sections">
							<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in gameData[currentTurn][currentPhase].redTrack.sections">
								<div id="redSpace{{trackSpace.space}}"
									ng-repeat="trackSpace in section.trackSpaces"
									class="track-space track-space-{{trackSpace.space}}"
									ng-class="{'threat-present': trackSpace.hasAnyThreats}"></div>
							</div>
						</div>
					</div>
					<div class="threat-list">
						<img id="redThreat{{$index}}" class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].redThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png"/>
						<svg class="threat-line-wrapper" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].redThreats">
							<line class="threat-line" stroke-width="3" stroke="red" id="redThreatLine{{$index}}"
								ng-attr-x1="{{getThreatCornerX('red', $index)}}"
								ng-attr-y1="{{getThreatCornerY('red', $index)}}"
								ng-attr-x2="{{getTrackSpaceCornerX('red', externalThreat)}}"
								ng-attr-y2="{{getTrackSpaceCornerY('red', externalThreat)}}"/>
						</svg>
					</div>
				</div>
				<div class="track-wrapper external-track-wrapper">
					<div class="track-spaces-wrapper">
						<div class="track-outline"></div>
						<div class="track-sections">
							<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in gameData[currentTurn][currentPhase].whiteTrack.sections">
								<div ng-repeat="trackSpace in section.trackSpaces" class="track-space track-space-{{trackSpace}}"></div>
							</div>
						</div>
					</div>
					<div class="threat-list">
						<img class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].whiteThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png"/>
					</div>
				</div>
				<div class="track-wrapper external-track-wrapper">
					<div class="track-spaces-wrapper">
						<div class="track-outline"></div>
						<div class="track-sections">
							<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in gameData[currentTurn][currentPhase].blueTrack.sections">
								<div ng-repeat="trackSpace in section.trackSpaces" class="track-space track-space-{{trackSpace}}"></div>
							</div>
						</div>
					</div>
					<div class="threat-list">
						<img class="threat external-threat" ng-repeat="externalThreat in gameData[currentTurn][currentPhase].blueThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{externalThreat.description}}.png"/>
					</div>
				</div>
			</div>
			<img class="sitting-duck" src="/SpaceAlertResolver/Content/Images/board-front.jpg"/>
			<div class="track-wrapper internal-track-wrapper">
				<div class="track-spaces-wrapper">
					<div class="track-outline"></div>
					<div class="track-sections">
						<div class="track-section track-section-{{section.distanceFromShip}}" ng-repeat="section in gameData[currentTurn][currentPhase].internalTrack.sections">
							<div ng-repeat="trackSpace in section.trackSpaces" class="track-space track-space-{{trackSpace}}"></div>
						</div>
					</div>
				</div>
				<div class="threat-list">
					<img class="threat external-threat" ng-repeat="internalThreat in gameData[currentTurn][currentPhase].internalThreats" ng-src="/SpaceAlertResolver/Content/Images/Threats/{{internalThreat.description}}.png"/>
				</div>
			</div>
		</div>
	</div>
</div>
