

@model IHtmlString
<script>
    angular.module("spaceAlertModule", []).value("gameData", @Html.Raw(Model));
</script>
@Scripts.Render("~/bundles/app")
<div ng-app="spaceAlertModule">
	<div ng-controller="ResolutionController">
		<div class="game-runthrough">
			<div class="btn-group automated-run-through">
				<a class="btn btn-default" ng-click="goToStart()"><i class="fa fa-fast-backward"></i></a>
				<a class="btn btn-default" ng-click="goBackOnePhase()"><i class="fa fa-backward"></i></a>
				<a class="btn btn-default" ng-click="playPause()">
					<i ng-class="{'fa-play': !playing, 'fa-pause': playing}" class="fa"></i>
				</a>
				<a class="btn btn-default" ng-click="goForwardOnePhase()"><i class="fa fa-forward"></i></a>
				<a class="btn btn-default" ng-click="goToEnd()"><i class="fa fa-fast-forward"></i></a>
			</div>
			<div class="speed-selection-container">
				<input class="speed-selector" type="range" ng-model="turnsPerTwoSeconds" min="1" max="10"/>
				<div class="speed-selection-labels-container">
					<span class="slow-speed-label">Slow</span>
					<span class="fast-speed-label">Fast</span>
				</div>
			</div>
			<div>
				<ul class="pagination" turn-selector>
					<li ng-repeat="snapshotGroup in gameData" ng-class="{'active': currentTurn === snapshotGroup[0].turn}">
						<a href="#" class="turn-selector-option" ng-click="selectTurnManually(snapshotGroup[0].turn)">{{snapshotGroup[0].turn + 1}}</a>
					</li>
				</ul>
			</div>
			<div>
				<ul class="pagination phase-selector">
					<li ng-repeat="phaseGroup in gameData[currentTurn]" ng-class="{'active': currentPhase === phaseGroup.phase}">
						<a href="#" class="phase-selector-option" ng-click="selectPhaseManually(phaseGroup.phase)">{{phaseGroup.description}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="full-board">
			<div class="external-tracks-wrapper">
				<threat-track track="gameData[currentTurn][currentPhase].redZone.track" threats="gameData[currentTurn][currentPhase].redZone.externalThreats" track-id="'red'"></threat-track>
				<threat-track track="gameData[currentTurn][currentPhase].whiteZone.track" threats="gameData[currentTurn][currentPhase].whiteZone.externalThreats" track-id="'white'"></threat-track>
				<threat-track track="gameData[currentTurn][currentPhase].blueZone.track" threats="gameData[currentTurn][currentPhase].blueZone.externalThreats" track-id="'blue'"></threat-track>
			</div>
			<div class="sitting-duck-wrapper">
				<img class="sitting-duck" src="/SpaceAlertResolver/Content/Images/board-front.jpg"/>

				<standard-zone zone="gameData[currentTurn][currentPhase].whiteZone" zone-id="'white'"></standard-zone>
				<standard-zone zone="gameData[currentTurn][currentPhase].redZone" zone-id="'red'"></standard-zone>
				<standard-zone zone="gameData[currentTurn][currentPhase].blueZone" zone-id="'blue'"></standard-zone>

				<div class="inactive-lower-red-battle-bots station-area">
					<img class="inactive-battle-bots" ng-if="gameData[currentTurn][currentPhase].redZone.lowerStation.battleBots" src="/SpaceAlertResolver/Content/Images/BattleBots.png"/>
				</div>
				<div class="inactive-upper-blue-battle-bots station-area">
					<img class="inactive-battle-bots" ng-if="gameData[currentTurn][currentPhase].blueZone.upperStation.battleBots" src="/SpaceAlertResolver/Content/Images/BattleBots.png" />
				</div>
				<div class="rockets station-area">
					<img class="rocket" ng-repeat="rocket in gameData[currentTurn][currentPhase].blueZone.lowerStation.rockets" src="/SpaceAlertResolver/Content/Images/Rocket2.png "/>
				</div>
				<div class="battery-pack-container battery-pack-container-lower-red station-area">
					<img ng-if="gameData[currentTurn][currentPhase].redZone.lowerStation.batteryPackHasEnergy" class="energy-cube" src="/SpaceAlertResolver/Content/Images/OrangeCube.png" />
				</div>
				<div class="battery-pack-container battery-pack-container-lower-blue station-area">
					<img ng-if="gameData[currentTurn][currentPhase].blueZone.lowerStation.batteryPackHasEnergy" class="energy-cube" src="/SpaceAlertResolver/Content/Images/OrangeCube.png"/>
				</div>
			</div>
			<threat-track track="gameData[currentTurn][currentPhase].internalTrack" threats="gameData[currentTurn][currentPhase].internalThreats" track-id="'internal'"></threat-track>
		</div>
	</div>
</div>
